.buttonContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%
}

.buttonContainer a{
    width: 100%;
    display: flex;

}
.button{
    width: 100%;
    margin: 5px;
    display: flex;
    justify-content: center;
    outline: solid 3px #E8E17D;
    outline-offset: -3px;
    background-color: #e4fffb;
    margin-right: 20px;
    margin-left: 20px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 700;
    color: crimson;
    list-style: none;
    transition: all ease 0.2s;
    font-size: 12px;
  }
.button:hover {
  }
  .active.button {
    background-color: rgb(118, 166, 255);
    color: white;
    outline: solid 20px rgb(118, 166, 255);
    outline-offset: -20px;
  
  }
  
  .active.button li{ 
    z-index: 2;
  }
  
  .button {
    color:midnightblue;
  
    text-decoration: none;
  }