:root{
  background-color: #E8E17D;
  overflow: hidden;
}
.siteWrap {
  position: relative;
  border-radius: 20px;
  background-color: rgb(228, 95, 90);
  height: calc(100vh - 60px + 3px);
  margin: 30px;
  margin-top: 7rem;
  margin-bottom: 0px;
  height: 100vh;
  box-shadow: 5px 5px 5px rgba(24, 24, 24, 0.233);

}
.headText {
  transform: translate(0%, -25%);
  display: flex;
  border: dashed 3px cornflowerblue;

  border-radius: 10px;
  background-color: rgba(157, 233, 252, 0.993);
  padding: 10px;
  margin-top: 20px;
  box-shadow: 5px 5px 5px rgba(24, 24, 24, 0.233);

  /* text-transform: uppercase; */
  color: midnightblue;
  
}

.nav {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navLinks {
  border: dashed 3px royalblue;
  width: 80vw;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.navlink {
  margin: 5px;
  display: flex;
  justify-content: center;
  border: solid 3px #E8E17D;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 700;
  color: crimson;
  list-style: none;
  transition: all ease 0.2s;
  font-size: 12px;
}
@media screen and (min-width: 320px) {
  .navlink {
    font-size: calc(8px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  .navlink {
    font-size: 22px;
  }
}

.navlink:hover {
  transform: translate(0px, -15px);
}
.active.navlink {
  transform: translate(-0px, -15px);
  background-color: rgb(118, 166, 255);
  color: white;
  border: solid 3px mintcream;

}

.navlink {
  color:midnightblue;

  text-decoration: none;
}
.navlink a:visited {
}

.head{
  display: flex;
  justify-content: center;
  align-items: center;
position: absolute;
top: -3%;
width: 50%;
}

.headImg{
  z-index: -2;
  position: absolute;
  left: 80%;
  width: 40%;
}